#auto-reload__play-pause {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2147483647;

    width: 30px;
    height: 30px;
    background-image: url("../assets/play-pause.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    filter:invert(50%);

    cursor: pointer;
    opacity: .5;

}

#auto-reload__play-pause:hover {
    opacity: 1;
}