<script src="/js/ajax-wrapper.js" url="/dev/ajax-wrapper/actual-page.php"></script>
<script src="/js/reload-scripts.js"></script>

<script
        src="https://philippn.com/vendor/auto-reload/watch.js"
        watcher-url="auto-reload/watch.php"
        reloading-amount="2"
        watch="
        /var/www/html/dev/ajax-wrapper/actual-page.php
        /var/www/html/dev/ajax-wrapper/test.js
"
></script>